= minimal_form_for(list) do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :category_id, as: :select, collection: ListCategories
  %ol#list_form_items
    = f.simple_fields_for :items, list.items_ordered do |i|
      %li.item{ id: "item_#{i.object.id}" }
        .item-body.row
          .col-sm-7
            = i.input :name, as: :text
          .col-sm-5
            = image_tag '/assets/images/small.jpg' unless i.object.image.file?
            = i.input :image, as: :image_preview, input_html: { preview_version: :small }
            = link_to 'delete image', list_item_image_path(list, i.object), remote: true, method: :delete, class: :delete if i.object.image.file?
  = f.button :submit, class: 'btn btn-full btn-primary'

- if list.persisted?
  %hr
  %p= link_to 'Cancel', list_path(list), class: 'btn btn-default btn-full'
  %p= link_to 'Delete this list', list_path(list), class: 'btn btn-default btn-full', method: :delete, confirm: 'Are you sure??'
