#list
  %h1
    = list.linked_title
  %p.info
    %span= t('.by')
    = user.linked_avatar_image(:small)
    = user.linked_login
    %span= t('.the')
    = list.date
    = list.edit_button
    %span - #{list.report_button}
