#list

  .row
    .col-sm-12
      %h1
        = list.linked_title
        %small
          %span by
          = user.linked_login
          %span the
          = list.date

  .row
    .col-sm-12.col-xs-8
      .btn-group.btn-group-justified.actions
        = list.lovers_link
        = list.comments_link
    .col-sm-12.col-xs-4
      = list.edit_button
      = list.love_button

  .row
    .col-sm-12
      %hr.hidden-xs
      = list.description
