#list
  %h1
    = list.linked_title
  %p.info
    %span= t('.by')
    = list.user_linked_avatar_image(:small)
    = list.user_linked_login
    %span= t('.the')
    = list.date
    = list.edit_button
    = list.report_button
