#list
  %h1
    = list.linked_title

  %p.info
    %span.pull-right
      = list.report_button
      = list.edit_button
    %span.text-muted #{list.date} (#{list.linked_category}) #{t('.by')}
    = list.user_linked_avatar_image(:small)
    = list.user_linked_login
