%h1#list_title
  = list.linked_title
  %small
    %span by
    = user.linked_login
    %span the
    = list.date

#list_links
  %span.btn-group
    = list.linked_category
    = list.comments_link
    = list.lovers_link

= list.description
