- cache ['v1', list, 'item'] do
  - list = list.decorate
  %li.media
    .love.pull-left= list.total_lovers
    .media-body
      %h3
        = list.linked_title
      %p
        = list.total_items_named
        %span.text-muted - the #{list.date} by
        %span.user= list.linked_user
