- unless params[:query].blank?
  %h1
    = t('.search_title')
    = params[:query]

- if @lists.count == 0
  %p.empty
    = t('.empty')
    = link_to t('.empty_link'), new_list_path

- else
  %ul#lists.list-unstyled
    = render partial: 'lists/item', collection: lists, as: :list
