#list_notes
  - if params[:category_id].blank?
    %h2= t('.title_main')
    %p= t('.text_main')
  - else
    %h2= ListCategories.at(params[:category_id].to_i)[0]
    %p= t(".text_category_#{params[:category_id]}")
