#list_notes

  - if params[:category_id].blank?

    %h1.main
      = t('.title_main_1')
      %br
      = t('.title_main_2')

    - if signed_in?

      %p.main= link_to t('.create_link'), new_list_path, class: 'btn btn-primary create'

    - else

      %p.main
        = link_to t('.login_link'), new_user_session_path(r: 1), class: 'btn btn-primary'
        %span= t('.or')
        = link_to t('.register_link'), new_user_registration_path(r: 1), class: 'btn btn-primary'
        %span= t('.to')

    .cloud
      %p= t('.example_1')
      %p= t('.example_2')
      %p= t('.example_3')

  - else

    %h1.category
      = List::category_name(params[:category_id])
      %small= t(".text_category_#{params[:category_id]}")
