.row
  .col-sm-5
    = simple_form_for(@list, html: { class: 'list_form', id: "list_form", multipart: true }) do |f|
      = f.input :title
      = f.input :category_id, as: :select, collection: ListCategories
      = f.button :submit, t('.submit'), class: 'btn btn-full btn-primary submit'
      %ul.list-unstyled
        %li= link_to 'Cancel', list_path(@list), class: 'cancel', confirm: t('.confirm_cancel')
        %li= link_to 'Delete this list', list_path(@list), class: 'delete', method: :delete, confirm: t('.confirm_delete')

  .col-sm-7
    %ol#list_items_forms.items.list-unstyled
      - @list.items.each do |item|
        = render partial: 'items/item', locals: { item: item, editable: true }
    = render partial: 'items/new_form', locals: { list: @list }
