= render partial: 'layouts/menu'

%h1= @list.title

= simple_form_for(@list) do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :category_id, as: :select, collection: ListCategories
  = f.button :submit

%p
  = link_to 'delete', list_path(@list), method: :delete, confirm: 'Are you sure??'
