= render partial: 'layouts/menu'

%h1 New list

= simple_form_for(@list) do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :category_id, as: :select, collection: ListCategories
  .items
    = f.simple_fields_for :items do |i|
      .item
        = i.input :name
        = i.input :image, as: :file
  = f.button :submit
