= render partial: 'layouts/menu'
= render partial: 'lists/header', locals: {list: @list}
= render partial: 'lists/info', locals: {list: @list, user: @user}
= render partial: 'items/list', locals: {items: @items}
= render partial: 'comments/form', locals: { comment: @comment } if defined? @comment
= render partial: 'comments/list', locals: { comments: @comments }
