= render partial: 'layouts/menu'

%h1= @list.title
%p= @list.linked_category
%p= @list.edit_link
%p= @list.description
%ul
  - @list.items.each_with_index do |item, i|
    %li= item.title

= render partial: 'comments/form', locals: { comment: @comment } if defined? @comment
= render partial: 'comments/list', locals: { comments: @comments }
