- cache ['v1', @list, 'info'] do
  = render partial: 'lists/info', locals: { list: @list.decorate, user: @user.decorate }
  = render partial: 'items/list', locals: { items: @items }

= render partial: 'lists/actions', locals: { list: @list.decorate }

%script
  = "window.owl.env['category_id'] = #{@category_id};"
