.container

  - if defined?(@tmp_lists)
    - cache ['v1', tmp_list_cookie_updated_at] do
      .row
        .col-sm-12
          = render partial: 'lists/tmp', locals: { lists: @tmp_lists }

  .row

    .col-sm-8
      - cache ['v1', @list] do
        = render partial: 'lists/info', locals: { list: @list.decorate }
        = render partial: 'items/list', locals: { items: @items }

    .col-sm-4
      #list_side
        - cache ['v1', @list, 'side', signed_in?] do
          = render partial: 'lists/nav', locals: { list: @list.decorate }
          #list_side_info
            - cache ['v1', @list, 'comments'] do
              = render partial: 'comments/list', locals: { comment: @comment, comments: @comments, list: @list.decorate }

%script
  = "window.owl.env['loving'] = #{signed_in? && current_user.loves?(@list)};"
