= render partial: 'layouts/menu'

- cache ['v1', @list, @user, 'info'] do
  = render partial: 'lists/info', locals: {list: @list.decorate, user: @user.decorate}

= render partial: 'lists/actions', locals: {list: @list.decorate}
= render partial: 'comments/form', locals: { comment: @comment } if defined? @comment

- cache ['v1', @list, 'show'] do
  = render partial: 'items/list', locals: {items: @items.decorate}
  = render partial: 'comments/list', locals: { comments: @comments.decorate }
