= render partial: 'layouts/header'

- cache ['v1', @user, 'info'] do
  = render partial: 'users/info', locals: { user: @user.decorate }

- cache ['v1', @user, 'followings'] do
  = render partial: 'followings/user_list', locals: { user: @user.decorate, users: @users }

%script
  = "window.owl.env['following'] = #{signed_in? && current_user.id != @user.id && current_user.following?(@user)};"
  = "window.owl.env['owner'] = #{signed_in? && current_user.id == @user.id};"
