.container

  .row
    .col-sm-5
      %h2= t('.title')
      %p= t('.text')
      %hr
      %p= t('.sign_in_text')
      %p= link_to t('.sign_in_link'), new_session_path(resource_name), class: 'btn btn-default'

    .col-sm-7
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        = f.input :login, required: true, autofocus: true
        = f.input :email, required: true
        = f.input :password, required: true
        = f.button :submit, t('.submit'), class: 'btn btn-full btn-primary'
