= render partial: 'layouts/header'

.row
  .col-sm-4
    - cache ['v1', @list, 'info'] do
      = render partial: 'lists/info', locals: { list: @list.decorate, user: @user.decorate }
  .col-sm-8
    - cache ['v1', @list, 'show'] do
      = render partial: 'comments/list', locals: { comments: @comments, list: @list.decorate }

%script
  = "window.owl.env['loving'] = #{signed_in? && @list.user_id != current_user.id && current_user.loves?(@list)};"
  = "window.owl.env['owner'] = #{signed_in? && @list.user_id == current_user.id};"
