= render partial: 'layouts/menu'
- if defined? @users
  = render partial: 'lists/header', locals: {list: @list}
  = render partial: 'loves/user_list', locals: { users: @users }
- elsif defined? @lists
  = render partial: 'users/header', locals: {user: @user}
  = render partial: 'loves/list_list', locals: { users: @lists }
