#user_notes
  - case type
  - when :lists
    %h3= t('.title_lists', login: user.login)
    %p= t('.text_lists')
  - when :loved
    %h3= t('.title_loved', login: user.login)
    %p= t('.text_loved')
  - when :followings
    %h3= t('.title_followings', login: user.login)
    %p= t('.text_followings')
  - when :followers
    %h3= t('.title_followers', login: user.login)
    %p= t('.text_followers')
