.container

  .row
    .col-sm-5
      %h2= t('.title')
      %p= t('.text')

    .col-sm-7
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        = f.input :email, required: true, autofocus: true, hint: t('.hint')
        = f.button :submit, t('.submit'), class: 'btn btn-full btn-primary'
