= minimal_form_for([item.list, item], remote: false, html: { id: "item_#{item.id}_form", multipart: true }) do |f|
  = f.input :id, as: :hidden
  = f.input :list_id, as: :hidden, input_html: { value: item.list.id }
  = f.input :type, as: :hidden
  .image_input
  .image_preview
    .image_delete.fa.fa-times
    - if item.image.exists?
      = image_tag item.image.url(:small), class: :image_original
  = f.input :name
  = f.button :submit, t('.submit'), class: 'btn btn-primary submit'
  = link_to t('.delete'), list_item_path(item.list, item), remote: true, method: :delete, class: 'btn btn-default'
