%li.item{ class: item.type_name, id: "item_#{item.id}" }
  = minimal_form_for([item.list, item], remote: true, html: { class: 'list_form', id: "list_#{item.list.id}_form", multipart: true }) do |f|
    = f.input :id, as: :hidden
    = f.input :list_id, as: :hidden, input_html: { value: item.list.id }
    = f.input :type, as: :hidden
    = f.input :name
    - case item.type
    - when Item::TYPES.index(:text)
      = f.input :text, as: :text
    - when Item::TYPES.index(:image)
      = f.input :file, as: :file
    - when Item::TYPES.index(:link)
      = f.input :link, as: :link
    = f.button :submit, t('.submit'), class: 'btn btn-primary submit'
    = link_to t('.delete'), list_item_path(item.list, item), remote: true, method: :delete, class: 'btn btn-default'
