%li.item{ class: item.type_name, id: "item_#{item.id}" }
  .fields
    %input{ type: :hidden, name: "list[items_attributes][#{item.index}][id]", value: item.id }
    %input{ type: :hidden, name: "list[items_attributes][#{item.index}][type]", value: item.type }
    .field.form-group
      %input.form-control{ type: :text, name: "list[items_attributes][#{item.index}][name]", value: item.name, placeholder: t('.name') }
    .field.form-group
      - case item.type
      - when Item::TYPES.index(:text)
        %textarea.form-control{ name: "list[items_attributes][#{item.index}][text]", placeholder: t('.text') }= item.text
      - when Item::TYPES.index(:image)
        %input.form-control{ type: :file, name: "list[items_attributes][#{item.index}][image]" }
      - when Item::TYPES.index(:link)
        %input.form-control{ type: :url, name: "list[items_attributes][#{item.index}][link]", value: item.link, placeholder: t('.link') }
  = link_to list_item_path(item.list, item), remote: true, method: :delete, class: 'delete' do
    %i.fa.fa-times
