#header

  .container

    .row

      .col-sm-3.col-xs-3
        = link_to 'OWL', home_path, class: 'logo'

      .col-sm-9.right
        = form_tag home_path, method: :get, class: 'search' do
          = hidden_field_tag :category_id, params[:category_id]
          .input-group
            = search_field :query, '', class: 'form-control', placeholder: t('.search_placeholder')
            .input-group-btn
              %button.btn.btn-sm.btn-default.submit
                %i.fa.fa-search
        - if signed_in?
          = link_to user_path(current_user), class: 'visible-xs btn btn-sm btn-default user' do
            %i.fa.fa-user
          = link_to user_path(current_user), class: 'btn btn-sm btn-default hidden-xs' do
            = current_user.decorate.avatar_image :small
            = current_user.login
        - else
          %div.btn-group.sign
            = link_to t('.register_link'), new_user_registration_path(r: 1), class: 'btn btn-sm btn-default'
            = link_to t('.login_link'), new_user_session_path(r: 1), class: 'btn btn-sm btn-default'
        .tools
          - if signed_in?
            = link_to new_list_path, class: 'btn btn-sm btn-default create' do
              %span.hidden-xs= t('.create')
              %i.visible-xs.fa.fa-plus
          %button.btn.btn-sm.btn-default.categories-collapser{ 'data-toggle' => "collapse", 'data-target' => '#categories-collapse' }
            %i.fa.fa-bars

    %ul#categories-collapse.collapse.list-unstyled
      %li.category_999= link_to t('.all'), home_path
      - ListCategories.each_with_index do |category, i|
        %li{ class: "category_#{category[1]}" }= link_to List::category_name(category[1]), home_path(category_id: category[1])
