%p
  %a{href: lists_path} OWL
  %a{href: new_list_path} Create a new list
  - if signed_in?
    = link_to current_user.login, user_path(current_user)
    = link_to 'logout', destroy_user_session_path, method: :delete
  - else
    %a{href: new_user_registration_path} register
    %a{href: new_user_session_path} login

= form_tag lists_path, method: :get do
  = text_field_tag :q, params[:q]
  = hidden_field_tag :category_id, params[:category_id] unless params[:category_id].blank?
  = submit_tag 'Search'

%p
  - ListCategories.each do |category|
    = link_to category[0], lists_path(category_id: category[1])
