<!DOCTYPE html>
%html
  %head
    %title Owl
    = javascript_include_tag "vendor", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag "vendor", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700'
    = csrf_meta_tags

  %body
    .container
      = yield

    %script
      = "window.owl.env['controller'] = '#{request.parameters['controller']}';"
      = "window.owl.env['action'] = '#{request.parameters['action']}';"
      = "window.owl.env['signed_in'] = #{signed_in?};"
      = "window.owl.env['current_user'] = '#{current_user.id}';" if signed_in?
