<!DOCTYPE html>
<html>
<head>
  <title>Owl</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script>
  window.owl = window.owl || {views:{}, env:{}, func:{}};
  window.owl.env['controller'] = "<%= params['controller'] || 'none' %>";
  window.owl.env['action'] = "<%= params['action'] || 'none' %>";
</script>

<%= javascript_include_tag "vendor" %>
<%= javascript_include_tag "application" %>
</body>
</html>
