<!DOCTYPE html>
<html>
<head>
  <title>Owl</title>

  <%= javascript_include_tag "vendor", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "vendor", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% cache ['v1', current_user, 'menu'] do %>
    <%= render partial: 'layouts/menu' %>
  <% end %>

  <%= yield %>

  <script>
    window.owl.env['controller'] = "<%= params['controller'] || 'none' %>";
    window.owl.env['action'] = "<%= params['action'] || 'none' %>";
  </script>

</body>
</html>
