<!DOCTYPE html>
%html
  %head
    %title Owl
    = javascript_include_tag "vendor", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag "vendor", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    #main
      .container
        - cache ['v1', 'header', signed_in?, current_user||nil] do
          = render partial: 'layouts/header'
        = yield
      #push_footer

    - cache ['v1', 'footer'] do
      #footer
        .container
          = render partial: 'layouts/footer'

    %script
      = "window.owl.env['controller'] = '#{request.parameters['controller']}';"
      = "window.owl.env['action'] = '#{request.parameters['action']}';"
      = "window.owl.env['signed_in'] = #{signed_in?};"
      - if signed_in?
        - cache ['v1', current_user, 'envs'] do
          = "window.owl.env['current_user'] = '#{current_user.id.to_s}';"
          = "window.owl.env['followings'] = #{current_user.followings.to_s};".html_safe
